body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-color: white;
}

#title {
    padding: 2% 5%;
    position: relative;
    height: 100%;
}

.intro h1 {
    font-size: 50px;
    text-align: center;
    padding: 15% 0 0 0;
}

.awesomefont {
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
}

.title_footer {
    margin-top: 80px;
    text-align: center;
}

.title_footer h3 {
    padding-bottom: 20px;
}

.title_footer a {
    color: black;
    text-decoration: none;
}
.title_footer a:hover {
    color: white;
    text-decoration: none;
}

.block_display {
    display: inline-block;
    font-size: larger;
}

/* Restaurant Style */
#restaurants {
    background-color: white;
    padding: 3% 5%;
}


#restaurants .card {
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    
    
}

#restaurants img {
    width: 100%;
    
    border-radius: 10px 10px 0px 0px;
    
}

#restaurants .card-body {
    padding: 10px 10px;
}

.individual_card {
    padding: 0px 10px 0px 10px;
    margin-bottom: 30px;
}
